<div class="container">
    <div class="col">
        <form (ngSubmit)="guardar( f )"
        #f="ngForm"> 

         <div class="form-group">
        <label>Nombre Completo</label>
        <input type="text" class="form-control" 
        [(ngModel)]="adduser.name" name="name" required>
         </div>

         <div class="form-group">
        <label>Apellido Completo</label>
        <input type="text" class="form-control"
        [(ngModel)]="adduser.last_name" name="last_name" required>
         </div>

         <div class="form-group">
        <label>Email</label>
        <input type="text" class="form-control" 
        (ngModel)]="adduser.email" name="email" required>
         </div>

         <div class="form-group">
        <label>Password</label>
        <input type="text" class="form-control" 
        [(ngModel)]="adduser.password" name="password" required>
         </div>
       
        </form>

        <hr>
        <div class="form-group text-center">
            <button type="submit" class="btn btn-primary w-25"> 
            <i class="fa fa-save"></i>
             Guardar
            </button>
        </div>

    
    </div>
</div> 
