<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >YoutubeKids</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link " routerLink="/user">Usuarios</a>
      <a class="nav-item nav-link " routerLink="/add-user">Agregar Usuarios</a>
      <a class="nav-item nav-link" routerLink="/video">Videos</a>
      <a class="nav-item nav-link " routerLink="/playlist">Playlist</a>
      <a class="nav-item nav-link " routerLink="/perfil">Perfiles</a>
    </div>
  </div>
</nav>
<router-outlet></router-outlet> 