<h1>Lista de Usuarios</h1> 
<hr>
<div class="row">
<div class="col text-right">
<button routerLink="add-user/nuevo" 
 class="btn btn-primary">
 <i class="fa fa-plus"></i>
  Agregar
</button>
</div>
</div>

<table class="table m-3">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Email</th>
      <th scope="col">País</th>
      <th scope="col">Fecha</th>
      <th scope="col">Telefono</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of users">
      <td>{{row.id}}</td>
      <td>{{row.name}}</td>
      <td>{{row.last_name}}</td>
      <td>{{row.email}}</td>
      <td>{{row.country}}</td>
      <td>{{row.birth_date}}</td>
      <td>{{row.phone}}</td>
    </tr>
  </tbody>
</table>

<div class="alert alert-warning text-center mt-3"> 
  <h4 class="alert-heading">No hay Registros</h4>
  <p>
  <i class="fa fa-exclamation  fa-2x"></i>
  </p> 

</div>


<div class="alert alert-info text-center mt-3"> 
  <h4 class="alert-heading">Cargando</h4>
  <p>
  <i class="fa fa-sync-alt fa-spin fa-2x"></i>
  </p> 
  <p class="mb-0">
    Espere por favor
  </p>
</div>

 
 
 <!-- <div class="panel-body">
    <table class="table table-striped table-over">
      <tr>
        <th>id</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
        <th>País</th>
        <th>Fecha</th>
        <th>Telefono</th>
      </tr>
       <tr *ngFor="let row of user">
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.last_name}}</td>
        <td>{{row.email}}</td>
        <td>{{row.country}}</td>
        <td>{{row.birth_date}}</td>
        <td>{{row.phone}}</td>
       </tr>
    </table>
    </div>
    
       -->